<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <!-- Regla: AvoidStarImport -->
    <module name="AvoidStarImport"/>

    <!-- Regla: EmptyCatchBlock -->
    <module name="EmptyCatchBlock"/>

    <!-- Regla: GenericWhitespace -->
    <module name="GenericWhitespace"/>

    <!-- Regla: IllegalCatch -->
    <module name="IllegalCatch"/>

    <!-- Regla: LeftCurly -->
    <module name="LeftCurly"/>

    <!-- Regla: MemberName -->
    <module name="MemberName"/>

    <!-- Regla: MethodName -->
    <module name="MethodName"/>

    <!-- Regla: MethodParamPad -->
    <module name="MethodParamPad"/>

    <!-- Regla: UnnecessaryParentheses -->
    <module name="UnnecessaryParentheses"/>

    <!-- Regla: UnusedImports -->
    <module name="UnusedImports"/>

    <!-- Regla: VisibilityModifier -->
    <module name="VisibilityModifier"/>

    <!-- Regla: WhitespaceAfter -->
    <module name="WhitespaceAfter"/>
</module>
