<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>trabajo.uy</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Genera la pagina de inicio</description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Maneja el inicio de sesion</description>
    <display-name>IniciarSesion</display-name>
    <servlet-name>IniciarSesion</servlet-name>
    <servlet-class>controller.IniciarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarSesion</servlet-name>
    <url-pattern>/IniciarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaUsuario</display-name>
    <servlet-name>AltaUsuario</servlet-name>
    <servlet-class>controller.AltaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaUsuario</servlet-name>
    <url-pattern>/AltaUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarOfertaLaboral</display-name>
    <servlet-name>ConsultarOfertaLaboral</servlet-name>
    <servlet-class>controller.ConsultarOfertaLaboral</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarOfertaLaboral</servlet-name>
    <url-pattern>/ConsultarOfertaLaboral</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Hace la consulta de paquete de tipos de publicacion de oferta laboral</description>
    <display-name>ConsultarPaquete</display-name>
    <servlet-name>ConsultarPaquete</servlet-name>
    <servlet-class>controller.ConsultarPaquete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarPaquete</servlet-name>
    <url-pattern>/ConsultarPaquete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Genera una pagina con la informacion dfe un tipo de publicacion de oferta laboral</description>
    <display-name>ConsultarTipoPublicacion</display-name>
    <servlet-name>ConsultarTipoPublicacion</servlet-name>
    <servlet-class>controller.ConsultarTipoPublicacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarTipoPublicacion</servlet-name>
    <url-pattern>/ConsultarTipoPublicacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Lista todas las ofertas laborales del sistema</description>
    <display-name>ListarOfertasLaborales</display-name>
    <servlet-name>ListarOfertasLaborales</servlet-name>
    <servlet-class>controller.ListarOfertasLaborales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarOfertasLaborales</servlet-name>
    <url-pattern>/ListarOfertasLaborales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Lista los Usuarios del sistema</description>
    <display-name>ListarUsuarios</display-name>
    <servlet-name>ListarUsuarios</servlet-name>
    <servlet-class>controller.ListarUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUsuarios</servlet-name>
    <url-pattern>/ListarUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Lista todos los paquetes del sistema</description>
    <display-name>ListarPaquetes</display-name>
    <servlet-name>ListarPaquetes</servlet-name>
    <servlet-class>controller.ListarPaquetes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarPaquetes</servlet-name>
    <url-pattern>/ListarPaquetes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Lista todos los tipos de publicacion de oferta laboral del sistema</description>
    <display-name>ListarTiposPublicacion</display-name>
    <servlet-name>ListarTiposPublicacion</servlet-name>
    <servlet-class>controller.ListarTiposPublicacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarTiposPublicacion</servlet-name>
    <url-pattern>/ListarTiposPublicacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Genera la pagina con la informacion de un usuario</description>
    <display-name>ConsultarUsuario</display-name>
    <servlet-name>ConsultarUsuario</servlet-name>
    <servlet-class>controller.ConsultarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarUsuario</servlet-name>
    <url-pattern>/ConsultarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Sirve solamente para cargar datos de la tarea</description>
    <display-name>CargarDatos</display-name>
    <servlet-name>CargarDatos</servlet-name>
    <servlet-class>controller.CargarDatos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarDatos</servlet-name>
    <url-pattern>/CargarDatos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Cierra la sesion y redirige a /home</description>
    <display-name>CerrarSesion</display-name>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>controller.CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarUsuario</display-name>
    <servlet-name>ModificarUsuario</servlet-name>
    <servlet-class>controller.ModificarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarUsuario</servlet-name>
    <url-pattern>/ModificarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Da servicio al alta de oferta laboral</description>
    <display-name>AltaOfertaLaboral</display-name>
    <servlet-name>AltaOfertaLaboral</servlet-name>
    <servlet-class>controller.AltaOfertaLaboral</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaOfertaLaboral</servlet-name>
    <url-pattern>/AltaOfertaLaboral</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComprarPaquete</display-name>
    <servlet-name>ComprarPaquete</servlet-name>
    <servlet-class>controller.ComprarPaquete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComprarPaquete</servlet-name>
    <url-pattern>/ComprarPaquete</url-pattern>
  </servlet-mapping>
</web-app>