@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

.mb-05 {
  margin-bottom: 0.125rem !important;
  /* Margen muy pequeño */
}

.filtros {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container {
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  height: 300px; /* Altura del banner, ajusta según tus necesidades */
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container.banner-dark {
  position: relative;
}

.banner-container.banner-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Ajusta el valor alpha (0.5) para controlar la opacidad */
}

.banner-container h1 {
  position: relative; /* Para que el texto aparezca encima del fondo oscuro */
  z-index: 1; /* Asegura que el texto esté encima del fondo oscuro */
  font-size: 3.5em;
}

.sin-bordes .card {
  border-radius: 0;
  border: none;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card img.usuario {
  width: 100%;
}

.card img.paquete {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Mantén la relación de aspecto y ajusta el contenido */
}

html,
body {
  font-family: "Poppins", "Roboto", sans-serif;
}

.navbar {
  height: 80px;
}

.navbar-brand {
  height: 100%;
}

main {
  margin-bottom: 50px;
}

form > div {
  margin-bottom: 0.5rem;
}

img.perfil {
  max-height: 300px;
  aspect-ratio: 1;
}

.comprar-btn.clicked {
  background-color: gray !important;
  pointer-events: none;
}




.heart-icon {
  font-size: 3em; /* Cambiar el tamaño del corazón */
  color: grey; /* Color de contorno inicial del corazón */
}

.heart-icon.text-danger {
  font-size: 3em;
  color: red; /* Cambiar a color rojo al hacer clic */
}

.tr-draggable:hover {
  background-color: #f5f5f5; /* Cambia el color de fondo al pasar el ratón */
  cursor: grab; /* Cambia el cursor al estilo de agarre */
}

.list-group-item{
  padding: 0.25rem;
}