@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24 ;
  margin: 0px 3px;
}

.ofertas-laborales .card {
    border-radius: 0;
    border: none;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

html, body {
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.navbar {
    height: 80px;
}

.navbar-brand {
    height: 100%;
}

/* Inicio de perfil ficticio */
.mi-perfil, .postulante, .empresa {
    display: none;
}