

.left_panel .card {
    margin-bottom: 10px;
    border: 1px solid black;
}

.left_panel .card .card_title {
    font-weight: bold;
    background-color: #cccccc;
    margin-bottom: 10px;
    width: auto;
    border-bottom: 1px solid black;
}

.left_panel .card .card_title h3 {
    margin: 0;
    font-size: 1.2em;
    color: black;
    padding: 5px;
}

.left_panel .card .card_body {
    margin: 0;
    padding: 5px;
}

.left_panel .card .card_body ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.left_panel .card .card_body div {
    margin: 0;
    padding: 0;
}

.left_panel .mi_perfil {
    display: none; /* Oculto el elemento */
}

.left_panel .mi_perfil .empresa {
    display: none; /* Oculto el elemento */
}

.left_panel .mi_perfil .postulante {
    display: none; /* Oculto el elemento */
}