@charset "UTF-8";

.banner-container {
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    height: 15em; /* Altura del banner, ajusta según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container.banner-dark {
    position: relative;
}

.banner-container.banner-dark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta el valor alpha (0.5) para controlar la opacidad */
}

.banner-container h1 {
    position: relative; /* Para que el texto aparezca encima del fondo oscuro */
    z-index: 1; /* Asegura que el texto esté encima del fondo oscuro */
    font-size: 3em;
}

.sin-bordes .card {
border-radius: 0;
border: none;
}

.card img {
width: 100%;
height: 200px;
object-fit: cover; 
}

.boton-oferta {
  margin-bottom: 10px; /* Ajusta el valor según la cantidad de espacio que desees agregar */
}